*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 21px;
  overflow: hidden;
}

input {
  font: inherit;
}

.app {
  height: 100vh;
  max-height: 100vh;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
