.lineWidthLabel {
  display: flex;
  align-items: center;
}

.lineWidthLabelText {
  margin-right: 10px;
  font-size: 18px;
  line-height: 24px;
}

.lineWidthInput {
  width: 150px;
  margin-right: 15px;
}
