.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 1s;
  height: 200px;
  width: 300px;
  z-index: 50;
  color: #fff;
  background: #363636;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modal--active {
  transform: translate(-50%, -50%) scale(1);
}

.modal__label {
  margin-bottom: 15px;
}

.modal__input {
  display: block;
  margin-top: 15px;
  height: 40px;
  padding: 10px;
  text-align: center;
}

.user-connect-modal {
  position: fixed;
  top: 50px;
  right: 50px;
  background: #fbb42f;
  color: #1f1e1e;
  display: none;
}

.user-connect-modal--active {
  display: block;
}
