.canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s;

  @media (max-height: 768px) {
    height: 85%;
  }
}

.canvas--show {
  opacity: 1;
  visibility: visible;
}

canvas {
  background: #fff;
  border: 1px solid #000;
}
